<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.digitalsln.project6mSignage">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission
        android:name="android.permission.DEVICE_POWER"
        tools:ignore="ProtectedPermissions" />
    <uses-permission
        android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission
        android:name="android.permission.ACCESS_WIFI_STATE"
        tools:ignore="LeanbackUsesWifi" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:requestLegacyExternalStorage="true" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:requestLegacyExternalStorage="true" />
    <uses-permission
        android:name="android.permission.MANAGE_EXTERNAL_STORAGE"
        android:requestLegacyExternalStorage="true" />

    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />
    <uses-feature
        android:name="android.software.leanback"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:requestLegacyExternalStorage="true"
        android:supportsRtl="true"
        android:theme="@style/Theme.project6mSignage">
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/icon_app" />

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/white" />

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/app_name" />

        <meta-data
            android:name="firebase_messaging_auto_init_enabled"
            android:value="false" />
        <meta-data
            android:name="firebase_analytics_collection_enabled"
            android:value="false" />

        <activity
            android:name=".SlideShowActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".PlaylistNotBoundActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".MainActivity"
            android:banner="@drawable/ic_launcher"
            android:enabled="true"
            android:exported="true"
            android:icon="@drawable/ic_launcher"
            android:launchMode="singleTask"
            android:logo="@drawable/ic_launcher"
            android:screenOrientation="landscape"
            android:showOnLockScreen="true">
            <intent-filter>
                <category android:name="android.intent.category.HOME" />

                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <service android:name=".tvLauncher.utilities.ShellService" />
        <service android:name=".ForegroundService" />
        <service
            android:name=".notificationManager.FirebaseMessageService"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <receiver android:name=".receivers.ShutDownReceiverToIdeal" />
        <receiver android:name=".receivers.ShutDownReceiverToLogic" />
        <receiver android:name=".receivers.TimeOutReceiver" />
        <receiver android:name=".receivers.WakeUpReceiver" />
        <receiver android:name=".receivers.ScheduleApiTimerReceiverOne" />
        <receiver android:name=".receivers.ScheduleApiTimerReceiverTwo" />
        <receiver android:name=".receivers.ApiCallSchedulerInitReceiver" />
        <receiver android:name=".receivers.NetworkChangeReceiver" />
    </application>

</manifest>